/* Skills.css */

.skills {
    text-align: center;
  }
  
  .skills h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Distribute space between items */
    list-style: none;
    padding: 5rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left:70px;
    margin-right: 70px;

  }
  
  .skills-list li {
    text-align: center;
    width: 30%; /* Set the width for three items per row */
    margin-bottom: 1rem; /* Add some spacing between rows */
  }
  
  .skills-list h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .skills-list img {
    max-width: 150px;
    max-height: 150px;
  }
  